{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'App Name' %}{% endblock title %}
{% block header %}{% trans 'Reset password' %}{% endblock header %}
{% block content %}

<div class="card" >
	<div class="card-body" style="margin: 20px; padding: 20px;">
		<h4 class="card-title">{% trans 'Reset password' %}</h4>
		<form  method="post">
			{% csrf_token %}
			<input  type="hidden"  name="next"  value="{{ next }}">
			{{ form|crispy }}
			<button  type="submit"  class="btn btn-primary btn-block">{% trans 'Reset password' %}</button>
		</form>
	</div>
</div>

{% endblock content%}
